.about-us-container {
  padding: 5em 2em;
}

/* About Us Title with Lines */
.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5em 0;
  position: relative;
}

/* Flexbox container for the title and lines */
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Left line */
.label1-line {
  width: 80px;
  height: 2px;
  background: linear-gradient(to right, #df33ce, transparent);
  margin-right: 10px;
}

/* Right line */
.label2-line {
  width: 80px;
  height: 2px;
  background: linear-gradient(to left, #64b8dc, transparent);
  margin-left: 10px;
}

/* Gradient text */
.gradient-text {
  background: linear-gradient(to right, #df33ce, #64b8dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  font-size: 20px;
}

/* Subtitle under the About Us heading */
.wrap span {
  font-size: 18px;
  color: rgb(152, 155, 157);
}

/* Philosophy content */
.letter-content {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  padding: 2em 5em;
  font-size: 15px;
  color: rgb(152, 155, 157);
  
}

  .letter-content h2{
    color: rgb(159, 167, 167);
  }
  .Teams h1 {
    text-align: center;
    padding: 6em 0em;
  }

  .Teams {
    margin-bottom: 8rem;
  }
  
  .images {
    width: 100%;
    padding: 0em 2em;
    display: grid;
    grid-template-columns: 335px 335px 335px;
    column-gap: 3em;
    row-gap: 3em;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .image-contents img {
    width: 300px;
    height: 360px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .none {
    opacity: 0;
  }

  .about-name{
    text-align: center;
    margin-top: 10px;
  }

  .about-image{
    text-align: center;
  }
  /* wura */
  .hidden{
    opacity: 0;
  }
  @media (max-width:650px){
    .about-us-container {
      padding: 5em 0em;
    }
  /* Philosophy content */
  .letter-content {
    gap: 2em;
    padding: 2em 2.5em;
    font-size: 10px;
  }
  .hidden{
    display: none;
  }
    
    .Teams h1 {
      padding: 4em 0em;
    }

    .Teams {
      margin-bottom: 8rem;
    }
    
    .images {
      padding: 0em 2em;
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .image-contents{
      width: 100%;
    }
    .image-contents img {
      width: 100%; 
      height: 100%;
      border-radius: 10px;
    }
    
    
    .none {
      opacity: 0;
    }

    .about-name{
      text-align: center;
      margin-top: 10px;
    }

    .about-image{
      text-align: center;
    }  


  }